@font-face {
    font-family: 'cooper_hewittbook';
    src: url('fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cooper_hewittlight';
    src: url('fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,a,h1,h2,h3,h4,h5,h6,li,ul,ol,label,input,select,span {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background: $dusty-pink;
  width: 100% !important;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
}

.full-wrap{
  width: 100% !important;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
}

h1{
  font-size: 2.5em;
  font-family: "cooper_hewittheavy", Arial-black, Arial;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
  color: $cream;
  @media screen and (min-width: 1080px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 1080px) {
    font-size: 2.5rem;
  }
  @media screen and (max-height: 600px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

h2{
  @media screen and (min-width: 1080px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1080px) {
    font-size: 1.5rem;
  }
  @media screen and (max-height: 600px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 1.3rem;
  }
  font-family: "cooper_hewittheavy", Arial-black, Arial;
}

h3{
  font-size: .8em;
  color: $dark-gray;
}

p{
  @media screen and (min-width: 1080px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1080px) {
    font-size: 1.2rem;
  }
  @media screen and (max-height: 600px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
  font-family: 'Source Sans Pro', Arial;
  font-weight: 400;
  color: $cream;
}
a{
  color: $cream;
  display: inline-block;
  font-weight: 600;
  &:hover {
    -webkit-animation: tottle .2s;
    animation-iteration-count: once;
    animation-timing-function: cubic-bezier(.34,.01,.18,1.35);
    color: inherit;
    i{
      color: $story-yellow;
    }
  }
  &:active{
    color: $cream;
  }
  &:visited {
    color: $cream;
  }
}
ul{
  list-style: none;
  margin-left: 0;
  li{
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', Arial;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 10px;
    a{
      color: $cream;
      display: inline-block;
      transition: all .2s;
      i{
        transition: all .2s;
      }
      &:hover{
        color: white;
        -webkit-animation: tottle .2s;
      	animation-iteration-count: once;
      	animation-timing-function: cubic-bezier(.34,.01,.18,1.35);
        i{
          color: $dusty-pink;
        }
      }
    }
  }
}
.no-padding{
  .small-12{
    padding-left: 0;
    padding-right: 1rem;
  }
}
.pad-sides{
  padding: 0 10%;
}
.pad-sandwich{
  padding: 10px 0;
}
hr{
  border-bottom: 1px solid $light-gray;
}

.row{
  max-width: none;
}

.mobile-hide{
  display: inherit;
}
.mobile-show{
  display: none;
}
@media screen and (max-width: 1080px) {
  .mobile-hide{
    display: none !important;
  }
  .mobile-show{
    display: inherit !important;
  }
}

.quote{
  padding-top: 20px;
}
