.footer{
  background-color: #fe826a;
  color: $cream;
  text-align: center;
  p{
    font-size: 1rem;
    padding-top: 15px
  }
  ul{
    padding: 0 20%;
    margin-top: 20px;
    display: table;
    table-layout: fixed;
    width: 100%;
    li{
      text-align: center;
      display: table-cell;
      font-size: 1.5rem;
      font-weight: 400;
      a{
        padding: 10px;
        color: $cream !important;
        transition: color .5s;
        font-family: "cooper_hewittheavy", Arial-black, Arial;
        &:hover {
          color: lighten($cream, 10) !important;
        }
      }
      &:hover {
        -webkit-animation: tottle .2s;
        animation-iteration-count: once;
        animation-timing-function: cubic-bezier(.34,.01,.18,1.35);
      }
    }
  }
  .topper{

    $grad1:  $dusty-pink;
    $grad2: $story-yellow;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($grad2), to($grad1));
    background: -webkit-linear-gradient(bottom, $grad1, $grad2);
    background: -moz-linear-gradient(bottom, $grad1, $grad2);
    background: -ms-linear-gradient(bottom, $grad1, $grad2);
    background: -o-linear-gradient(bottom, $grad1, $grad2);
    height: 50px;
  }
  .row{
    padding: 10px 10%;
  }
}
