.prof-overlay {
  background-image: url(/images/cutoutbw2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 600px;
  mix-blend-mode: multiply;
  opacity: 0.9;
}
@mixin gradient-cover($top, $mid, $bottom, $url) {
  background: -moz-linear-gradient(
      top,
      $top 0%,
      $mid 5%,
      $mid 95%,
      $bottom 100%
    ),
    url($url) no-repeat;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, $top),
      color-stop(5%, $mid),
      color-stop(95%, $mid),
      color-stop(100%, $bottom)
    ),
    url($url) no-repeat;
  background: -webkit-linear-gradient(
      top,
      $top 0%,
      $mid 5%,
      $mid 95%,
      $bottom 100%
    ),
    url($url) no-repeat;
  background: -o-linear-gradient(top, $top 0%, $mid 5%, $mid 95%, $bottom 100%),
    url($url) no-repeat;
  background: -ms-linear-gradient(top, $top 0%, $mid 5%, $mid 95%, $bottom 100%),
    url($url) no-repeat;
  background: linear-gradient(
      to bottom,
      $top 0%,
      $mid 5%,
      $mid 95%,
      $bottom 100%
    ),
    url($url) no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin gradient-mid-cover($top, $mid, $bottom, $url) {
  background: -moz-linear-gradient(
      top,
      $top 0%,
      $mid 5%,
      $mid 50%,
      $bottom 100%
    ),
    url($url) no-repeat;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, $top),
      color-stop(5%, $mid),
      color-stop(95%, $mid),
      color-stop(100%, $bottom)
    ),
    url($url) no-repeat;
  background: -webkit-linear-gradient(
      top,
      $top 0%,
      $mid 5%,
      $mid 50%,
      $bottom 100%
    ),
    url($url) no-repeat;
  background: -o-linear-gradient(top, $top 0%, $mid 5%, $mid 50%, $bottom 100%),
    url($url) no-repeat;
  background: -ms-linear-gradient(top, $top 0%, $mid 5%, $mid 50%, $bottom 100%),
    url($url) no-repeat;
  background: linear-gradient(
      to bottom,
      $top 0%,
      $mid 5%,
      $mid 50%,
      $bottom 100%
    ),
    url($url) no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin gradient-mid-cover-on-image($top, $mid, $bottom) {
  background: -moz-linear-gradient(
    top,
    $top 0%,
    $mid 5%,
    $mid 50%,
    $bottom 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $top),
    color-stop(5%, $mid),
    color-stop(95%, $mid),
    color-stop(100%, $bottom)
  );
  background: -webkit-linear-gradient(
    top,
    $top 0%,
    $mid 5%,
    $mid 50%,
    $bottom 100%
  );
  background: -o-linear-gradient(top, $top 0%, $mid 5%, $mid 50%, $bottom 100%);
  background: -ms-linear-gradient(
    top,
    $top 0%,
    $mid 5%,
    $mid 50%,
    $bottom 100%
  );
  background: linear-gradient(
    to bottom,
    $top 0%,
    $mid 5%,
    $mid 50%,
    $bottom 100%
  );
}
.pink {
  background-color: $dusty-pink !important;
}
.index-block {
  min-height: 500px;
  display: table;
  width: 100%;
  position: relative;
  color: $cream;
  background-color: $story-yellow;
  .text-block {
    text-rendering: optimizeLegibility;
    display: table-cell;
    vertical-align: middle;
    padding: 150px 10%;
    min-height: 450px;
  }
}
.gradient-block {
  $grad1: $story-yellow;
  $grad2: $dusty-pink;
  position: relative;
  display: table;
  width: 100%;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($grad1),
    to($grad2)
  );
  background: -webkit-linear-gradient(top, $grad1, $grad2);
  background: -moz-linear-gradient(top, $grad1, $grad2);
  background: -ms-linear-gradient(top, $grad1, $grad2);
  background: -o-linear-gradient(top, $grad1, $grad2);
  .text-block {
    text-rendering: optimizeLegibility;
    display: table-cell;
    vertical-align: middle;
    padding: 150px 10%;
    min-height: 450px;
  }
}
.gradient-block2 {
  $grad2: $story-yellow;
  $grad1: $dusty-pink;
  position: relative;
  display: table;
  width: 100%;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($grad1),
    to($grad2)
  );
  background: -webkit-linear-gradient(top, $grad1, $grad2);
  background: -moz-linear-gradient(top, $grad1, $grad2);
  background: -ms-linear-gradient(top, $grad1, $grad2);
  background: -o-linear-gradient(top, $grad1, $grad2);
  .text-block {
    text-rendering: optimizeLegibility;
    display: table-cell;
    vertical-align: middle;
    padding: 150px 10%;
    min-height: 450px;
  }
}
.crystal-window {
  padding: 250px 10% !important;
  $top: rgba(0, 0, 0, 0.7);
  $mid: rgba(0, 0, 0, 0.5);
  $bottom: rgba(0, 0, 0, 0.6);
  $url: "/images/startup.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
  @media screen and (max-width: 700px) {
    background-position: right center !important;
  }
}
.mobile-app-window {
  padding: 250px 10% !important;
  $top: rgba(0, 0, 0, 0.6);
  $mid: rgba(0, 0, 0, 0.5);
  $bottom: rgba(0, 0, 0, 0.7);
  $url: "/images/mobile-app.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
  border-top: 2px solid $story-yellow;
}
.glorieta-window {
  padding: 250px 10% !important;
  $top: rgba(0, 0, 0, 0.6);
  $mid: rgba(0, 0, 0, 0.4);
  $bottom: $story-yellow;
  $url: "/images/neature.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
}
.freelance-window {
  padding: 250px 10% !important;
  $top: rgba(0, 0, 0, 0.7);
  $mid: rgba(0, 0, 0, 0.6);
  $bottom: rgba(0, 0, 0, 0.7);
  $url: "/images/freelance.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
  border-top: 2px solid $story-yellow;
}
.vanity-window {
  padding: 250px 10% !important;
  $top: $dusty-pink;
  $mid: rgba(0, 0, 0, 0.3);
  $bottom: $dusty-pink;
  $url: "/images/neature.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
}
.home-window {
  padding: 250px 10% !important;
  $top: rgba(0, 0, 0, 0.65);
  $mid: rgba(0, 0, 0, 0.55);
  $bottom: rgba(0, 0, 0, 0.65);
  $url: "/images/chickens.jpeg";
  @include gradient-cover($top, $mid, $bottom, $url);
  // border-top: 2px solid $cream;
  // border-bottom: 2px solid $cream;
  background-position: 50% 60%;
}
.profile-window {
  background-color: $story-yellow;
  padding: 100px 0% !important;
}
.yellow-pink-pink {
  $top: $dusty-pink;
  $mid: $dusty-pink;
  $bottom: $dusty-pink;
  $url: "/images/belmont.jpg";
  background-image: none;
  @include gradient-cover($top, $mid, $bottom, $url);
}
.about-header {
  padding: 0 !important;
  $top: rgba(0, 0, 0, 0.4);
  $mid: rgba(0, 0, 0, 0.4);
  $bottom: $dusty-pink;
  $url: "/images/austin.jpg";
  background-position: 50% 72% !important;
  @include gradient-mid-cover($top, $mid, $bottom, $url);
}
.blog-header {
  padding: 0 !important;
  $top: rgba(0, 0, 0, 0.4);
  $mid: rgba(0, 0, 0, 0.4);
  $bottom: $dusty-pink;
  @include gradient-mid-cover-on-image($top, $mid, $bottom);
}
.mobile-app-header {
  padding: 0 !important;
  $top: rgba(0, 0, 0, 0.5);
  $mid: rgba(0, 0, 0, 0.5);
  $bottom: $dusty-pink;
  $url: "/images/mobile-app.jpg";
  background-image: none;
  @include gradient-mid-cover($top, $mid, $bottom, $url);
  .small-12 {
    padding: 0 10%;
  }
}
.freelance-header {
  padding: 0 !important;
  $top: rgba(0, 0, 0, 0.5);
  $mid: rgba(0, 0, 0, 0.5);
  $bottom: $dusty-pink;
  $url: "/images/freelance.jpg";
  background-image: none;
  @include gradient-mid-cover($top, $mid, $bottom, $url);
  .small-12 {
    padding: 0 10%;
  }
}
.crystal-header {
  padding: 0 !important;
  $top: rgba(0, 0, 0, 0.5);
  $mid: rgba(0, 0, 0, 0.5);
  $bottom: $dusty-pink;
  $url: "/images/startup.jpg";
  background-image: none;
  @include gradient-mid-cover($top, $mid, $bottom, $url);
  .small-12 {
    padding: 0 10%;
  }
}
.page-header {
  height: 90vh;
  text-align: center;
}
.card {
  overflow: hidden;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 0;
  .card-text {
    $top: rgba(0, 0, 0, 0.4);
    $mid: rgba(0, 0, 0, 0.4);
    $bottom: $dusty-pink;
    @include gradient-mid-cover-on-image($top, $mid, $bottom);
    display: inline-block;
    width: 100%;
    padding-top: 100%;
  }
  &:before {
    content: "";
    padding-top: 100%; /* vertical value as  100% equals width */
    float: left;
  }
}

.img-wrap {
  padding: 0 5%;
  background-color: $story-yellow;
}

.case-image {
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
  border: 2px solid $cream;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100%;
  }
}
video {
  position: absolute;
  top: 0;
  min-height: 100%;
  height: 500px;
}
.color-cover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fe826a;
  $grad1: $dusty-pink;
  $grad2: $dusty-pink;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($grad1),
    to($grad2)
  );
  background: -webkit-linear-gradient(45deg, $grad1, $grad2);
  background: -moz-linear-gradient(45deg, $grad1, $grad2);
  background: -ms-linear-gradient(45deg, $grad1, $grad2);
  background: -o-linear-gradient(45deg, $grad1, $grad2);
  mix-blend-mode: color;
  opacity: 0.2;
}
.profile-block {
  background-color: #fe826a;
  $grad1: $dusty-pink;
  $grad2: $story-yellow;

  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($grad1),
    to($grad2)
  );
  background: -webkit-linear-gradient(top, $grad1, $grad2);
  background: -moz-linear-gradient(top, $grad1, $grad2);
  background: -ms-linear-gradient(top, $grad1, $grad2);
  background: -o-linear-gradient(top, $grad1, $grad2);
}
.video-cover {
  display: table;
  position: relative;
  top: 0;
  height: 500px;
  width: 100%;
  .video-text {
    display: table-cell;
    vertical-align: middle;
  }
}

#workSection {
  padding-top: 40px;
}

.heading-pad {
  padding-top: 80px;
}

.heading-block {
  p {
    padding: 0 5%;
  }
}

li {
  a {
    i {
      font-size: 0.8em !important;
    }
  }
}
p {
  a {
    i {
      font-size: 0.8em !important;
    }
  }
}
#awwwards-img {
  position: absolute;
  top: 70px;
  left: 0;
  width: 90px;
  height: 140px;
  display: inline-block;
  background: url("../images/awwwards_nominee_white.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.text-block {
  text-rendering: optimizeLegibility;
  display: table-cell;
  vertical-align: middle;
  padding: 150px 10%;
  min-width: 450px;
}

.case-image-wrapper {
  min-width: 380px;
  margin-left: 64px;
  max-width: 10vw;
  @media (max-width: 1200px) {
    min-width: 300px;
  }
  @media (max-width: 800px) {
    min-width: 300px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 64px;
  }
}

.img-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 800px) {
    flex-wrap: wrap;
    text-align: center;
  }
  &.reverse {
    @media (max-width: 800px) {
      text-align: center;
      flex-wrap: wrap-reverse;
    }
    .case-image-wrapper {
      margin-left: 0;
      margin-right: 64px;
    }
  }
}
