.prof-overlay{
  background-image: url(/images/cutoutbw2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 600px;
  mix-blend-mode: multiply;
  opacity: .9;
}
@mixin gradient-cover($top, $mid, $bottom, $url) {
  background: -moz-linear-gradient(top, $top 0%, $mid 5%, $mid 95%, $bottom 100%), url($url) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(5%, $mid), color-stop(95%, $mid), color-stop(100%, $bottom)), url($url) no-repeat;
  background: -webkit-linear-gradient(top, $top 0%, $mid 5%, $mid 95%, $bottom 100%), url($url) no-repeat;
  background: -o-linear-gradient(top, $top 0%, $mid 5%, $mid 95%, $bottom 100%), url($url) no-repeat;
  background: -ms-linear-gradient(top, $top 0%, $mid 5%,$mid 95%, $bottom 100%), url($url) no-repeat;
  background: linear-gradient(to bottom, $top 0%, $mid 5%, $mid 95%, $bottom 100%), url($url) no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin gradient-mid-cover($top, $mid, $bottom, $url) {
  background: -moz-linear-gradient(top, $top 0%, $mid 5%, $mid 50%, $bottom 100%), url($url) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(5%, $mid), color-stop(95%, $mid), color-stop(100%, $bottom)), url($url) no-repeat;
  background: -webkit-linear-gradient(top, $top 0%, $mid 5%, $mid 50%, $bottom 100%), url($url) no-repeat;
  background: -o-linear-gradient(top, $top 0%, $mid 5%, $mid 50%, $bottom 100%), url($url) no-repeat;
  background: -ms-linear-gradient(top, $top 0%, $mid 5%,$mid 50%, $bottom 100%), url($url) no-repeat;
  background: linear-gradient(to bottom, $top 0%, $mid 5%, $mid 50%, $bottom 100%), url($url) no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin gradient-mid-cover-on-image($top, $mid, $bottom) {
  background: -moz-linear-gradient(top, $top 0%, $mid 5%, $mid 50%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(5%, $mid), color-stop(95%, $mid), color-stop(100%, $bottom));
  background: -webkit-linear-gradient(top, $top 0%, $mid 5%, $mid 50%, $bottom 100%);
  background: -o-linear-gradient(top, $top 0%, $mid 5%, $mid 50%, $bottom 100%);
  background: -ms-linear-gradient(top, $top 0%, $mid 5%,$mid 50%, $bottom 100%);
  background: linear-gradient(to bottom, $top 0%, $mid 5%, $mid 50%, $bottom 100%);
}
.pink{
  background-color: $dusty-pink !important;
}
.index-block{
  min-height: 500px;
  display: table;
  width: 100%;
  position: relative;
  color: $cream;
  background-color: $story-yellow;
  .text-block{
    text-rendering: optimizeLegibility;
    display: table-cell;
    vertical-align: middle;
    padding: 150px 10%;
    min-height: 450px;
  }
}
.gradient-block{
  $grad1:  $story-yellow;
  $grad2: $dusty-pink;
  position: relative;
  display: table;
  width: 100%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($grad1), to($grad2));
  background: -webkit-linear-gradient(top, $grad1, $grad2);
  background: -moz-linear-gradient(top, $grad1, $grad2);
  background: -ms-linear-gradient(top, $grad1, $grad2);
  background: -o-linear-gradient(top, $grad1, $grad2);
  .text-block{
    text-rendering: optimizeLegibility;
    display: table-cell;
    vertical-align: middle;
    padding: 150px 10%;
    min-height: 450px;
  }
}
.gradient-block2{
  $grad2:  $story-yellow;
  $grad1: $dusty-pink;
  position: relative;
  display: table;
  width: 100%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($grad1), to($grad2));
  background: -webkit-linear-gradient(top, $grad1, $grad2);
  background: -moz-linear-gradient(top, $grad1, $grad2);
  background: -ms-linear-gradient(top, $grad1, $grad2);
  background: -o-linear-gradient(top, $grad1, $grad2);
  .text-block{
    text-rendering: optimizeLegibility;
    display: table-cell;
    vertical-align: middle;
    padding: 150px 10%;
    min-height: 450px;
  }
}
.classnav-window{
  padding: 250px 10% !important;
  $top: rgba(0,0,0,.7);
  $mid: rgba(0,0,0,.5);
  $bottom: rgba(0,0,0,.6);
  $url: "/images/classNav.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
  @media screen and (max-width: 700px) {
    background-position: right center !important;
  }
}
.venture360-window{
  padding: 250px 10% !important;
  $top: rgba(0,0,0,.6);
  $mid: rgba(0,0,0,.5);
  $bottom: rgba(0,0,0,.7);
  $url: "/images/skyline.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
  border-top: 2px solid $story-yellow;
}
.glorieta-window{
  padding: 250px 10% !important;
  $top: rgba(0,0,0,.6);
  $mid: rgba(0,0,0,.4);
  $bottom: $story-yellow;
  $url: "/images/neature.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
}
.veripharm-window{
  padding: 250px 10% !important;
  $top: rgba(0,0,0,.7);
  $mid: rgba(0,0,0,.6);
  $bottom: rgba(0,0,0,.7);
  $url: "/images/pills.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
  border-top: 2px solid $story-yellow;
}
.vanity-window{
  padding: 250px 10% !important;
  $top: $dusty-pink;
  $mid: rgba(0,0,0,.3);
  $bottom: $dusty-pink;
  $url: "/images/neature.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
}
.belmont-window{
  padding: 250px 10% !important;
  $top: rgba(0,0,0,.8);
  $mid: rgba(0,0,0,.7);
  $bottom: rgba(0,0,0,.8);
  $url: "/images/belmont.jpg";
  @include gradient-cover($top, $mid, $bottom, $url);
  border-top: 2px solid $cream;
  border-bottom: 2px solid $cream;
}
.profile-window{
  background-color: $story-yellow;
  padding: 100px 0% !important;
}
.yellow-pink-pink{
  $top: $dusty-pink;
  $mid: $dusty-pink;
  $bottom: $dusty-pink;
  $url: "/images/belmont.jpg";
  background-image: none;
  @include gradient-cover($top, $mid, $bottom, $url);
}
.about-header{
  padding: 0 !important;
  $top: rgba(0,0,0,.4);
  $mid: rgba(0,0,0,.4);
  $bottom: $dusty-pink;
  $url: "/images/aboutImage.jpg";
  @media screen and (max-width: 700px) {
    background-position: 25% 50% !important;
  }
  @include gradient-mid-cover($top, $mid, $bottom, $url);
}
.blog-header{
  padding: 0 !important;
  $top: rgba(0,0,0,.4);
  $mid: rgba(0,0,0,.4);
  $bottom: $dusty-pink;
  @include gradient-mid-cover-on-image($top, $mid, $bottom);
}
.veripharm-header{
  padding: 0 !important;
  $top: rgba(0,0,0,.5);
  $mid: rgba(0,0,0,.5);
  $bottom: $dusty-pink;
  $url: "/images/pills.jpg";
  background-image: none;
  @include gradient-mid-cover($top, $mid, $bottom, $url);
  .small-12{
    padding: 0 10%;
  }
}
.venture-header{
  padding: 0 !important;
  $top: rgba(0,0,0,.5);
  $mid: rgba(0,0,0,.5);
  $bottom: $dusty-pink;
  $url: "/images/skyline.jpg";
  background-image: none;
  @include gradient-mid-cover($top, $mid, $bottom, $url);
  .small-12{
    padding: 0 10%;
  }
}
.classnav-header{
  padding: 0 !important;
  $top: rgba(0,0,0,.5);
  $mid: rgba(0,0,0,.5);
  $bottom: $dusty-pink;
  $url: "/images/classNav.jpg";
  background-image: none;
  @include gradient-mid-cover($top, $mid, $bottom, $url);
  .small-12{
    padding: 0 10%;
  }
}
.page-header{
  height: 90vh;
  text-align: center;
}
// .card {
//   background-color: red;
//   padding-top: 25%; /* 1:1 Aspect Ratio */
//   position: relative; /* If you want text inside of it */
// }

.card{
  overflow:hidden;
  background-size: cover;
  margin:auto;
  text-align:center;
  padding: 0;
  .card-text {
    $top: rgba(0,0,0,.4);
    $mid: rgba(0,0,0,.4);
    $bottom: $dusty-pink;
    @include gradient-mid-cover-on-image($top, $mid, $bottom);
    display:inline-block;
    width: 100%;
    padding-top:100%;

  }
}
.card:before{
  content:'';
  padding-top:100%;/* vertical value as  100% equals width */
  float:left;;
}
.img-wrap{
  padding: 0 5%;
  background-color: $story-yellow;
  .case-image{
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    border: 2px solid $cream;
  }
}
video{
  position: absolute;;
  top: 0;
  min-height: 100%;
  height: 500px
}
.color-cover{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fe826a;
  $grad1:  $dusty-pink;
  $grad2: $dusty-pink;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($grad1), to($grad2));
  background: -webkit-linear-gradient(45deg, $grad1, $grad2);
  background: -moz-linear-gradient(45deg, $grad1, $grad2);
  background: -ms-linear-gradient(45deg, $grad1, $grad2);
  background: -o-linear-gradient(45deg, $grad1, $grad2);
  mix-blend-mode: color;
  opacity: .2;
}
.profile-block{
  background-color: #fe826a;
  $grad1:  $dusty-pink;
  $grad2: $story-yellow;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($grad1), to($grad2));
  background: -webkit-linear-gradient(top, $grad1, $grad2);
  background: -moz-linear-gradient(top, $grad1, $grad2);
  background: -ms-linear-gradient(top, $grad1, $grad2);
  background: -o-linear-gradient(top, $grad1, $grad2);
}
.video-cover{
  display: table;
  position: relative;
  top: 0;
  height: 500px;
  width: 100%;
  .video-text{
    display: table-cell;
    vertical-align: middle;
  }
}

#workSection{
  padding-top: 40px;
}

.heading-pad{
  padding-top: 80px;
}

.heading-block{
  p{
    padding: 0 5%;
  }
}

li{
  a{
    i{
      font-size: .8em !important;
    }
  }
}
p{
  a{
    i{
      font-size: .8em !important;
    }
  }
}
#awwwards-img{
  position: absolute;
  top: 70px;
  left: 0;
  width: 90px;
  height: 140px;
  display: inline-block;
  background: url("../images/awwwards_nominee_white.png");
  background-repeat: no-repeat;
  background-size: contain;
}
