<div class="nav absolute-nav">
  <section class="material-design-hamburger">
    <button class="material-design-hamburger__icon">
      <span class="material-design-hamburger__layer"></span>
    </button>
  </section>

  <section class="menu menu--off">
    <div class="wrapper">
      <div><h2><a href="#">Home</a></h2></div>
      <div><h2><a href="#">About</a></h2></div>
      <div><h2><a href="#">Portolio</a></h2></div>
      <div><h2><a href="#">Contact</a></h2></div>
    </div>
  </section>
</div>

<script src="/javascripts/nav.js"></script>
