<div class="absolute-nav mobile-hide">
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="#">Work</a></li>
    <li><a href="#">LOGO</a></li>
    <li><a href="#">Resume</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>

<div class="nav fixed-nav mobile-show">
  <section class="material-design-hamburger">
    <button class="material-design-hamburger__icon">
      <span class="material-design-hamburger__layer"></span>
    </button>
  </section>

  <section class="menu menu--off">
    <div class="wrapper">
      <div><h2><a href="#">LOGO</a></h2></div>
      <div><h2><a href="/about">About</a></h2></div>
      <div><h2><a href="#">Work</a></h2></div>
      <div><h2><a href="#">Resume</a></h2></div>
      <div><h2><a href="#">Contact</a></h2></div>
    </div>
  </section>
</div>

<script src="/javascripts/nav.js"></script>
