<div class="absolute-nav mobile-hide">
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <div class="dropdown">
          <button>Work</button>
          <ul class="dropdown-menu">
              <li><a href="/classnav">Classnav</a></li>
              <li><a href="/venture360">Venture360</a></li>
              <li><a href="/veripharm">Veripharm</a></li>
          </ul>
      </div>
    </li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>

<div class="nav fixed-nav mobile-show">
  <section class="material-design-hamburger">
    <button class="material-design-hamburger__icon">
      <span class="material-design-hamburger__layer"></span>
    </button>
  </section>

  <section class="menu menu--off">
    <div class="wrapper">
      <div><h2><a href="/">Home</a></h2></div>
      <div><h2><a href="/work">Work</a></h2></div>
      <div><h2><a href="/about">About</a></h2></div>
      <div><h2><a href="/contact">Contact</a></h2></div>
    </div>
  </section>
</div>

<script src="/javascripts/nav.js"></script>
