<div class="gradient-block">
  <div class="text-block" style="text-align: center;"  data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
    <div class="small-12">
      <h1 class="huge">Let's make something beautiful and empower others to tell their&nbsp;story.</h1>
      <!-- <img src="/images/cutoutbw.png" alt="" style="mix-blend-mode:multiply;"> -->
      <a href="http://www.banban.io/contact" class="round-button">Contact Me <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
