<div class="index-block pink">
  <!-- <div class="color-cover"></div> -->
  <div class="text-block belmont-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        Belmont University
      </h1>
      <p>
        On my birthday, August 16th, 2013, I arrived on Belmont's campus. Almost four years later, Belmont
        was the home of the most intensive period of growth I've had. With a major in computer science and a
        minor in entrepreneurship, Belmont has fostered a my mind to think technically, with a heavy emphasis
        on practicality. Beyond just my core classes, the dual credits received in high school enabled me to
        take the classes I really wanted to take, such as Web Design and Interactive Media.
      </p>
      <a target="_blank" href="http://www.belmont.edu/" class="round-button">Belmont University's site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
