<div class="index-block">
  <div class="text-block classnav-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        I built the full site and dashboard for ClassNav
      </h1>
      <p>
        The main hurdle in this project came in the form of content organization. The dashboard aspect
        of this project required creating a GUI with variable fields that was self-explanatory
        to a group of uninformed volunteers.
      </p>
      <a href="http://www.banban.io/classnav" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <a target="_blank" href="http://classnavapp.com/" class="round-button">ClassNav App's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
