<div id="features-link" class="index-block">
  <div class="text-block classnav-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        I built ClassNav App's site and dashboard.
      </h1>
      <p>
        Having to overcome a series of hurdles in the design process, this project consisted of designing a framework
        for scraping data that needed to be intuitive and fast, while staying on brand.
      </p>
      <a href="#" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <a target="_blank" href="http://classnavapp.com/" class="round-button">ClassNav App's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
