<div class="index-block">
  <div class="collage-block">
    <div class="small-12 medium-4 collage-classnav columns" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        I built ClassNav App's site and dashboard.
      </h1>
      <a href="#" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <a target="_blank" href="http://classnavapp.com/" class="round-button">ClassNav App's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
    <div class="small-12 medium-4 collage-venture360 columns" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        I built ClassNav App's site and dashboard.
      </h1>
      <a href="#" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <a target="_blank" href="http://classnavapp.com/" class="round-button">ClassNav App's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
    <div class="small-12 medium-4 collage-glorieta columns" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        I built ClassNav App's site and dashboard.
      </h1>
      <a href="#" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <a target="_blank" href="http://classnavapp.com/" class="round-button">ClassNav App's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
