<h1>Pick your poison.</h1>
<div class="small-12">
  <% include ../components/contact-button/text %>
  <a target="_blank" href="https://www.linkedin.com/in/austin-ban-4b719a89?trk=nav_responsive_tab_profile_pic" class="round-button">Linkedin&nbsp;<i class="fa fa-linkedin" aria-hidden="true"></i></a>
  <a target="_blank" href="https://github.com/austinban" class="round-button">Github&nbsp;<i class="fa fa-github" aria-hidden="true"></i></a>
</div>
