<h1>Pick your poison.</h1>
<div class="small-12">
  <a href="mailto:banaustinban@gmail.com" class="round-button">Email&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i></a>
  <a target="_blank" href="https://www.facebook.com/austin.ban.3" class="round-button">Facebook&nbsp;<i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a target="_blank" href="https://twitter.com/austin_ban" class="round-button">Twitter&nbsp;<i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a target="_blank" href="https://www.linkedin.com/in/austin-ban-4b719a89?trk=nav_responsive_tab_profile_pic" class="round-button">Linkedin&nbsp;<i class="fa fa-linkedin" aria-hidden="true"></i></a>
  <a target="_blank" href="https://github.com/austinban" class="round-button">Github&nbsp;<i class="fa fa-github" aria-hidden="true"></i></a>
</div>
