<div class="index-block">
  <div class="text-block crystal-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        4+ years of experience in a growing startup.
      </h1>
      <p>
        I have spent over 4 years working in the fast changing environment of a tech startup.
        Crystal Knows is a technology based around personality types that aims to enable users to better understand themselves and others.
        In the time I have spent there, we have undergone extremely rapid change, teaching me to pivot quickly and plan for the unpredictable future.
      </p>
      <a href="/crystal" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
