<div class="index-block profile-window">
  <div class="text-block">
    <div class="small-12">
      <h1 data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
        I'm super glad you're here!
        Here are some fun factoids about my past and present self so you can get to know me a little better.
      </h1>
      <div class="no-padding row" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
        <div class="small-12 medium-6 columns">
          <div class="small-12 medium-12 large-6 columns">
            <h2>Work</h2>
            <ul>
              <li><a href="http://www.banban.io/venture360">Venture360 contract work&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li>Freelance through Fixter</li>
              <li><a target="_blank" href="http://www.weld.co/">WELD internship&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://glorieta.org/">Glorieta Camps media Team&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="http://www.soundyeti.com/">Sound Yeti interface design&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li>Alpaca waste management (Mucker)</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-6 columns">
            <h2>Education</h2>
            <ul>
              <li><a target="_blank" href="http://www.belmont.edu/">BS in Computer Science from Belmont University&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://www.sfcc.edu/">Santa Fe Community College&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li>My mom (homeschooled)</li>
            </ul>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          <div class="small-12 medium-12 large-6 columns">
            <h2>Personality</h2>
            <ul>
              <li><a target="_blank" href="https://www.16personalities.com/enfp-personality">Myers-Briggs ENFP&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://www.enneagraminstitute.com/type-7/">Enneagram 7&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li>Major dad vibes</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-6 columns">
            <h2>Hobbies</h2>
            <ul>
              <li><a target="_blank" href="https://thestoryhousenashville.wordpress.com/events/">Storytelling events&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li>Backpacking</li>
              <li><a href="http://www.banban.io/veripharm">Hackathons&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a></li>
              <li>Finding my limits of caffeine consumption</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <p>Have story House in the about me, not the home page.</p> -->
      <a href="http://www.banban.io/about" class="round-button" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">Intrigued? Find out more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
