<!-- views/partials/footer.ejs -->
<div class="footer">
  <div class="small-12 medium-4 columns">Test</div>
  <div class="small-12 medium-4 columns">Test</div>
  <div class="small-12 medium-4 columns">Test</div>
</div>
