<!-- views/partials/footer.ejs -->
<div class="footer row">
  <div class="topper"></div>
  <div class="pad-sides row">
    <div class="small-12" style="text-align: center;">
      <a href="mailto:banaustinban@gmail.com" class="round-button"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a target="_blank" href="https://www.facebook.com/austin.ban.3" class="round-button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a target="_blank" href="https://twitter.com/austin_ban" class="round-button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/austin-ban-4b719a89?trk=nav_responsive_tab_profile_pic" class="round-button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a target="_blank" href="https://github.com/austinban" class="round-button"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
    <div class="small-12">
      <p>
        Made by the blood, sweat, and tears of Austin Ban.
        <br>
        About page picture credit: <a target="_blank" href="http://www.carterwright.net/">Carter Wright</a>
      </p>
      <a target="_blank" href="http://www.banban.io/images/AustinBanResume.pdf" class="round-button">See My Résumé</a>
    </div>
  </div>
</div>
<% include ../partials/scripts %>
