<!-- views/partials/footer.ejs -->
<div class="footer row">
  <div class="topper"></div>
  <div class="pad-sides row">
    <div class="small-12">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">LOGO</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="small-12" style="text-align: center;">
      <a href="/contact" class="round-button"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a target="_blank" href="https://www.facebook.com/thestoryhousenashville/?ref=br_rs" class="round-button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a target="_blank" href="https://www.facebook.com/thestoryhousenashville/?ref=br_rs" class="round-button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a target="_blank" href="https://www.facebook.com/thestoryhousenashville/?ref=br_rs" class="round-button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <div class="small-12">
      <p>Made by the blood, sweat, and tears of Austin Ban</>
    </div>
  </div>
</div>
