<!-- views/partials/footer.ejs -->
<div class="footer row" style="padding-top: 35px;">
  <div class="pad-sides row">
    <div class="small-12" style="text-align: center;">
      <% include ../components/contact-button/basic %>
      <a target="_blank" href="https://www.linkedin.com/in/austin-ban-4b719a89?trk=nav_responsive_tab_profile_pic" class="round-button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a target="_blank" href="https://github.com/austinban" class="round-button"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
    <div class="small-12">
      <p>
        Made by Austin Ban with the help of matcha and Vivaldi.
      </p>
      <a href="/images/AustinBanResume.pdf" target="_blank" class="round-button">See My Résumé</a>
    </div>
  </div>
</div>
<% include ../partials/scripts %>
