<div class="index-block">
  <div class="text-block freelance-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        Freelance projects that span the board
      </h1>
      <p>
        Over the years, I have worked with a variety of clients to meet an array of needs. This work with such a diverse cast
        has taught me the importance of communication, and working closely with the clients to ensure they get the ideal end product.
        This includes scratch built sites, as well as several made using site builders, such as Shopify, Squarespace, Wordpress, etc...
      </p>
      <a href="/veripharm" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
