<div class="index-block">
  <div class="text-block glorieta-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        I was a Glorieta Camps media team leader
      </h1>
      <p>
        Two Summers were spent working at Glorieta Camps as a photographer, designer, and video editor.
        These Summers taught me how to work in a management structure as well as the ability to design
        within an existing brand.
      </p>
      <a href="#" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <a target="_blank" href="http://www.glorieta.org/" class="round-button">Glorieta Camp's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
