<div class="index-block">
  <div class="text-block veripharm-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        I designed the Veripharm prototype
      </h1>
      <p>
        After 24 grueling hours, gallons of sub-par coffee, and more than a few roadblocks, our team of 5 had
        completed a proof of concept for a supply chain tracking software using blockchaining technology. It
        was the winning project of the event.
      </p>
      <a href="/glorieta" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <a target="_blank" href="http://www.glorieta.org/" class="round-button">Glorieta Camp's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
