<meta charset="UTF-8">
<title>Austin Ban | Home</title>

<link rel='stylesheet', href='/stylesheets/style.css'>
<link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900">
<link rel="stylesheet", type="text/css" href="stylesheets/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
