<div class="index-block pink">
  <!-- <div class="color-cover"></div> -->
  <div class="text-block home-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        Home
      </h1>
      <p>
        I live nestled in the dense woods of the Smoky Mountains along with my wife, 1 human daughter, 2 cat daughters, and 9 chicken daughters.
        We love our home with an intensity and spend our time dabbling in gardening, reading books, acting like we don't care about the newest season of
        The Bachelor, and taking the time to live slowly.
      </p>
      <p>
        This past year has also brought on my hobby of making kitchen knives out of my home shop! I have found that knife making is a perfect outlet for my obsessive personality and mild pyromania.
      </p>
      <a target="_blank" href="https://babyknives.com/" class="round-button">My Knife Hobby<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
