<div class="index-block">
  <div class="text-block mobile-app-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        Mobile app development for Android and iOS.
      </h1>
      <p>
        A task I undertook was to build the mobile app version of Crystal Knows for both Android and iOS.
        This app has averaged 4.5 stars with 150+ reviews across both platforms.
      </p>
      <a href="/mobile-app" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
