<div id="workSection" class="index-block profile-window">
  <div class="text-block">
    <div class="small-12">
      <h1 data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
        My name is Austin Ban, and I live in the rolling mountains of Joelton, TN. In everything I am part of creating, my goal is to spark joy in both the users and my collaborators.
      </h1>

      <a href="/about" class="round-button" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">More about me <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
