<div class="index-block">
  <div class="small-12 medium-6 columns prof-overlay">
  </div>
  <div class="small-12 medium-6 columns">
    <p>About me saying that I'm from Nashville Tennessee with a computer science degree</p>
    <p>Have picture of me here that changes with a color overlay</p>
  </div>
</div>
