<div class="index-block" style="padding-top: 0;">
  <div class="text-block gradient-block2">
    <div class="small-12">
      <h1 data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
        Recognitions and awards.
      </h1>
      <div class="no-padding row">
        <div class="small-12 columns pad-sandwich" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
          <h2>Awwwards.com Site Of The Day (Nomination)</h2>
          <ul>
            <li>
              During the design process of my portfolio site, I would check Awwwards daily for inspiration.
              When I completed my site, I decided to take the risk of submitting it to the same site I had
              admired for years at that point. I was honored to be a nominee for Site Of The Day.
            </li>
          </ul>
          <a target="_blank" href="http://www.awwwards.com/" class="round-button">Awwwards Site&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="small-12 columns pad-sandwich" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
          <h2>Distributed Health Blockchain Hackathon (Grand Prize)</h2>
          <ul>
            <li>
              After 24 grueling hours, gallons of sub-par coffee, and more than a few roadblocks, our team of 5 had
              completed a proof of concept for a supply chain tracking software using blockchaining technology. It
              was the winning project of the event.
            </li>
          </ul>
          <a target="_blank" href="https://devpost.com/software/mobile-app" class="round-button">See the project&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="small-12 columns pad-sandwich" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
          <h2>DesignNominees.com Site Of The Day (Won)</h2>
          <ul>
            <li>
              About a month after submitting my site to be voted on and considered for their Site Of The Day, I
              received an email saying that I had won that exact honor!
            </li>
          </ul>
          <a target="_blank" href="http://www.designnominees.com/" class="round-button">Design Nominees Site&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="small-12 columns pad-sandwich" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
          <h2>Unsplash Featured Photographer (2 times)</h2>
          <ul>
            <li>
              During my summers as the photographer and videographer for Glorieta Camps,
              I submitted some work to the stock photo site Unsplash. I was fortunate enough to be featured 2 times and to
              have my images downloaded over 185,000 times and viewed over 15,000,000 times.
            </li>
          </ul>
          <a target="_blank" href="https://unsplash.com/@austinban" class="round-button">My Unsplash profile&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="small-12 columns pad-sandwich" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
          <h2>Alpaca Handling State Champ (2 times)</h2>
          <ul>
            <li>
              Now this one is a little harder to explain, but I worked on an alpaca farm from the ages 12-18, and we took
              the animals to the state fair. They had obstacle courses you would take your animal through, and I won two
              years in a row. Still the coolest thing I've done.
            </li>
          </ul>
          <a target="_blank" href="/alpaca" class="round-button">A picture of an alpaca&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
