<div class="index-block" style="padding-top: 0;">
  <div class="text-block gradient-block2">
    <div class="small-12">
      <h1 data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
        Recognitions and awards
      </h1>
      <div class="no-padding row">
        <div class="small-12 columns pad-sandwich" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
          <h2>Distributed Health Blockchain Hackathon (Grand Prize)</h2>
          <ul>
            <li>
              After 24 grueling hours, gallons of sub-par coffee, and more than a few roadblocks, our team of 5 had
              completed a proof of concept for a supply chain tracking software using blockchaining technology. It
              was the winning project of the event.
            </li>
          </ul>
          <a target="_blank" href="https://devpost.com/software/veripharm" class="round-button">See the project&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="small-12 columns pad-sandwich" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
          <h2>Unsplash Featured Photographer (2 times)</h2>
          <ul>
            <li>
              During my summers as the photographer and videographer for Glorieta Camps,
              I submitted some work to the stock photo site Unsplash. I was fortunate enough to be featured 2 times and to
              have my images downloaded over 185,000 times and viewed over 15,000,000 times.
            </li>
          </ul>
          <a target="_blank" href="https://unsplash.com/@austinban" class="round-button">My Unsplash profile&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="small-12 columns pad-sandwich" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
          <h2>Alpaca Handling State Champ (2 times)</h2>
          <ul>
            <li>
              Now this one is a little harder to explain, but I worked on an alpaca farm from the ages 12-18, and we took
              the animals to the state fair. They had obstacle courses you would take your animal through, and I won two
              years in a row. Still the coolest thing I've done.
            </li>
          </ul>
          <a target="_blank" href="https://pixabay.com/p-985158/?no_redirect" class="round-button">A picture of an alpaca&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
