<div class="index-block">
  <video id="bgvid" playsinline autoplay muted loop>
    <source src="/videos/sh_1.mp4" type="video/mp4">
    <source src="/videos/sh_1.webm" type="video/we">
  </video>
  <!-- <div class="color-cover"></div> -->
  <div class="video-cover">
    <div class="video-text">
      <h1>Story House background video and description of it</h1>
    </div>
  </div>
</div>
