<div class="index-block pink">
  <div class="text-block">
    <div class="small-12">
      <h1 data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
        The Story House
      </h1>
      <p data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
        Back in the May of 2014, I held an event called <a href="https://www.facebook.com/thestoryhousenashville/?ref=br_rs">
        The Story House.&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a> The idea was simple, a night of storytelling
        where people could tell their stories with song, poetry, or simply spoken. It's now grown into a monthly
        event built on an honest, diverse, and caring community.
      </p>
      <h2 data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
        In the past couple years, we have:
      </h2>
      <ul data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
        <li>
          <i class="fa fa-check" aria-hidden="true"></i> Held collaborative events with bands and non-profits.
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i> Printed a small coloring book filled with pictures and stories.
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i> Given away hundreds of buttons, gallons of tea, and dozens upon dozens of baked goods.
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i> Laughed and cried in equal proportions.
        </li>
      </ul>
      <a target="_blank" href="https://www.youtube.com/watch?v=i2W6Rxt0hns" class="round-button" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">See a video from The Story House <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </br>
      <a target="_blank" href="https://www.facebook.com/thestoryhousenashville/?ref=br_rs" class="round-button" data-aos="flip-up" data-aos-once="true" data-aos-duration="700"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a target="_blank" href="https://twitter.com/TheStoryHouse_" class="round-button" data-aos="flip-up" data-aos-once="true" data-aos-duration="700"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a target="_blank" href="https://www.instagram.com/thestoryhousenashville/" class="round-button" data-aos="flip-up" data-aos-once="true" data-aos-duration="700"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a target="_blank" href="https://www.youtube.com/channel/UCGcAECTFuR7o4CGtoz3M2yA" class="round-button" data-aos="flip-up" data-aos-once="true" data-aos-duration="700"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
