<div class="index-block">
  <div class="text-block venture360-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        I'm a contract developer for Venture360
      </h1>
      <p>
        I started contract developing with Venture360 while still in school. This work has been pretty demanding,
        but it’s taught me the tools of the trade, how to operate effectively within a team, and the importance of
        crystal-clear communication.
      </p>
      <a href="http://www.banban.io/venture360" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <a target="_blank" href="https://venture360.co/" class="round-button">Venture360's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
