<div class="index-block">
  <div class="text-block veripharm-window">
    <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
      <h1>
        I designed Veripharm in a blockchain hackathon
      </h1>
      <p>
        After 24 grueling hours, gallons of sub-par coffee, and more than a few roadblocks, our team of 5 had
        completed a proof of concept for a supply chain tracking software using blockchaining technology. It
        was the winning project of the hackathon.
      </p>
      <a href="http://www.banban.io/veripharm" class="round-button">Read about it <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <a target="_blank" href="https://devpost.com/software/veripharm" class="round-button">See the project&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
