<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About | Austin Ban</title>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block2" style="height: 100vh; text-align: center;">
        <div class="text-block about-header">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700" >
            <h1 class="huge" style="padding: 0 10%">ENFP, Enneagram&nbsp;7, Storyteller.</h1>
          </div>
        </div>
      </div>

      <div class="down-arrow bounce">
        <a href="#bioSection"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </div>
      <div id="bioSection" class="index-block yellow-pink-pink">
        <div class="text-block">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              First off, thanks for taking the time to read this! I'm sure you're busy so I'll keep it short.
            </h1>
            <p>
              To clarify,
              <a href="https://www.16personalities.com/enfp-personality">ENFP&nbsp;<i class="fa fa-link" aria-hidden="true"></i></a>
              is a personality type (Myers Briggs), as is the
              <a href="https://www.enneagraminstitute.com/type-7/">Enneagram 7&nbsp;<i class="fa fa-link" aria-hidden="true"></i>.</a>
              I find that they help provide a brief snapshot of my personality and values. Now for a little about me!
            </p>
            <p>
              I grew up in Santa Fe, and if you’re homeschooled like I was, you learn how to make your own fun.
              So I started avidly consuming Youtube tutorials, event planning, selling vintage at flea markets,
              and video editing. All of this led me to move to Nashville to pursue a computer science degree with
              a minor in entrepreneurship.
            </p>
            <p>
              Now that I’ve graduated, I am a freelance developer for various companies, the host and mastermind
              behind a storytelling event series, and intern at WELD, a co-working space. Forever a student at heart,
              I’m still absorbing tutorials and stretching my skills every day.
            </p>
          </div>
        </div>
      </div>
      <% include ../partials/belmont-block %>
      <% include ../partials/storyhouse-block %>
      <% include ../partials/recognition-block %>
    </main>
    <% include ../partials/absolute-header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</div>
</html>
