<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About | Austin Ban</title>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block2" style="height: 100vh; text-align: center;">
        <div class="text-block about-header">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700" >
            <h1 class="huge constrain">Developer. Hobbiest. Very homeschooled.</h1>
          </div>
        </div>
      </div>

      <div class="down-arrow bounce">
        <a href="#bioSection"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </div>
      <div id="bioSection" class="index-block yellow-pink-pink">
        <div class="text-block">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              First off, thanks for taking the time to read this! I'm sure you're busy so I'll keep it short.
            </h1>
            <p>
              I grew up in the desert landscape of Santa Fe, and if you’re homeschooled like I was, you learn how to make your own fun.
              So I started avidly consuming Youtube tutorials, event planning, selling vintage at flea markets, video editing, and working with alpaca farms.
            </p>
            <p>
              All of these ventures showed me the joy of taking an idea and turning it into reality. I was bitten by that bug and couldn't ever go back.
              Because of this, I wanted to develop a skill to build intricate and useful things, and then the knowledge to make those things into a business.
              This manifested as a degree in computer science, with a minor in entrepreneurship.
            </p>
            <p>
              Now I work as a frontend developer, merging intuitive design with smart code. My work has gained me a reputation within my workplace as someone
              competent in predicting user confusion, and adjusting designs to ensure a smooth experience. Using my history of graphic design and video editing,
              I have also become the go-to person for animations and touches of delight.
            </p>
          </div>
        </div>
      </div>
      <% include ../partials/home-block %>
      <% include ../partials/recognition-block %>

    </main>
    <% include ../partials/absolute-header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</div>
</html>
