<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog | Austin Ban</title>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block2 page-header" style="background-image: url(/images/skyline.jpg)">
        <div class="text-block blog-header">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700" >
            <p>Featured Article</p>
            <h1 class="huge" style="padding: 0 10%">The Importance of Storytelling in Web Design</h1>
            <a href="http://www.banban.io/classnav" class="round-button">Read Article <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <!-- <div class="down-arrow bounce">
        <a href="#bioSection"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </div> -->
      <div class="row">
        <h1>Menu Navigation goes here</h1>
      </div>
      <div class="row">
        <div class="card small-12 medium-6 large-3 columns" style="background-image: url(/images/skyline.jpg)">
          <div class="card-text">
            <p>This is card text</p>
          </div>
        </div>
        <div class="card small-12 medium-6 large-3 columns" style="background-image: url(/images/skyline.jpg)">
          <div class="card-text">
            <p>This is card text</p>
          </div>
        </div>
        <div class="card small-12 medium-6 large-3 columns" style="background-image: url(/images/skyline.jpg)">
          <div class="card-text">
            <p>This is card text</p>
          </div>
        </div>
        <div class="card small-12 medium-6 large-3 columns" style="background-image: url(/images/skyline.jpg)">
          <div class="card-text">
            <p>This is card text</p>
          </div>
        </div>
      </div>
    </main>
    <% include ../partials/absolute-header %>
    <footer>
        <% include ../partials/footer-no-top %>
    </footer>
</body>
</div>
</html>
