<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact | Austin Ban</title>
  <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block2" style="min-height: 100vh;">
        <div class="text-block">
          <div class="small-12" style="text-align: center;" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1 class="huge">Let's chat.</h1>
            <% include ../partials/contact-form %>
          </div>
        </div>
      </div>

    </main>
    <% include ../partials/absolute-header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</div>
</html>
