<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crystal Knows Case | Austin Ban</title>
  <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block2" style="height: 100vh; text-align: center;">
        <div class="text-block crystal-header">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700" >
            <h1 class="huge" style="text-align: center;">4+ Years Working in Crystal Knows</h1>
          </div>
        </div>
      </div>
      <div class="down-arrow bounce">
        <a href="#next"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </div>

      <div id="next" class="index-block pink">
        <div class="text-block gradient-block2">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              Where it all started.
            </h1>
            <p>
              I was working in a coworking space where the team for Crystal Knows was operating. It was through this common space we shared that they learned I was a
              frontend developer. After a few months of friendship, and several times overlapping in the coworking space late at night trying to meet deadlines, they
              offered me a position! This was back in 2017, and I have been along for the roller-coaster ride ever since.
            </p>
            <p>
              Being able to be with this company from such a young stage has taught me more than I could have hoped for, both in
              what works and what definitely doesn't.
            </p>
            <a target="_blank" href="https://crystalknows.com/" class="round-button">See Crystal Knows's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="img-wrap">
        <div class="case-image">
          <img src="/images/crystal/1.jpg" alt="classnav case image">
        </div>
      </div>

      <div class="index-block">
        <div class="text-block">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              The evolution of my role
            </h1>
            <p>
              My first task at Crystal was to build API help docs for a soon to be released product. This task was
              given to me with minimal instructions and no mockup for design. Naturally, I jumped in head-first and was able to deliver
              them in a timely manner.
            </p>
            <p>
              This task largely set the stage for my role in Crystal. Over my years there, I gained a reputation
              as someone with a keen eye for design, and good instinct for predicting user confusion. Because of this,
              I am the default developer for any feature that still needs more refinement and critique during the build process, which
              is a task I really enjoy. There is an excitement when I am working on an idea that is 90% of the way there, but just needs some
              extra editing and shaping to get it into its final form.
            </p>
          </div>
        </div>
      </div>

      <div class="img-wrap">
        <div class="case-image">
          <img src="/images/crystal/2.jpg" alt="classnav case image">
        </div>
      </div>

      <div class="index-block">
        <div class="text-block">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              Dealing with rapid change
            </h1>
            <p>
              When I first joined Crystal, it was a very unorganized company with lots of ideas being thrown around and no clear hierarchy.
              This produced some exceptional ideas, but many of them were lacking followthrough, because the culture was one that simply went
              after the next shiny idea without much hindsight in the process. This led to code that was often thrown away, or heavily edited
              in a rapid timeline.
            </p>
            <p>
              As the company stabilized and had less inherent chaos, we were still evolving and changing rapidly. We had a great product,
              but didn’t quite have a grasp on our product fit. This meant that we changed business models about every 2-3 months for over two years.
              Needless to say, this taught me how to make code that is exceptionally modular and flexible, so that it could withstand the heavy
              changes of a startup trying to find their market.
            </p>
            <p>
              This also personally taught me to not become emotionally attached to what I had built. As an engineer,
              it is easy to get caught up in the technical achievement of what you have done, but technical achievement
              is moot unless it progresses the product forward.
            </p>
          </div>
        </div>
      </div>

      <div class="img-wrap">
        <div class="case-image">
          <img src="/images/crystal/3.jpg" alt="classnav case image">
        </div>
      </div>

      <div class="index-block">
        <div class="text-block">
          <div class="small-12">
            <div data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h1>
                Main Takeaways
              </h1>
              <p data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
                If I had to distill the many lessons I took away from my time at Crystal, they would be:
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Value your own opinion, and the opinion of others."
              </h2>
              <p>
                Working in a small company, I learned the importance of my own opinion and how beneficial it can be for me to speak my critiques and ideas. It also has taught me to be flexible on my ideas and to present things with an open hand.
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Taking care of employees is a priority."
              </h2>
              <p>
                Over my years, I have seen burnout and stress rampant in our team. This leads to poor work, a draining work environment, and oftentimes those employees leaving the company. Though it’s often counterintuitive, I have seen that overworking your employees does not lead to more work getting done, but rather just more turnover and sloppier work.
              </p>
            </div>
          </div>
        </div>
      </div>

    </main>
    <% include ../partials/absolute-header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</div>
</html>
