<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crystal Knows Case | Austin Ban</title>
  <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block2" style="height: 100vh; text-align: center;">
        <div class="text-block crystal-header">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700" >
            <h1 class="huge" style="text-align: center;">4+ Years Working in Crystal Knows</h1>
          </div>
        </div>
      </div>
      <div class="down-arrow bounce">
        <a href="#next"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </div>

      <div id="next" class="index-block pink">
        <div class="text-block gradient-block2">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              Where it all started.
            </h1>
            <p>
              I was working in a coworking space where the team for Crystal Knows was operating. It was through this common space we shared that they learned I was a
              frontend developer. After a few months of friendship, and several times overlapping in the coworking space late at night trying to meet deadlines, they
              offered me a position! This was back in 2017, and I have been along for the roller-coaster ride ever since.
            </p>
            <p>
              Being able to be with this company from such a young stage has taught me more than I could have hoped for, both in
              what works and what definitely doesn't.
            </p>
            <a target="_blank" href="https://crystalknows.com/" class="round-button">See Crystal Knows's Site <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="img-wrap">
        <div class="case-image">
          <img src="/images/crystal/1.png" alt="classnav case image">
        </div>
      </div>

      <div class="index-block">
        <div class="text-block">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              The evolution of my role
            </h1>
            <p>
              My first task at Crystal was to build API help docs for a soon to be released product. This task was
              given to me with minimal instructions and no mockup for design. Naturally, I jumped in head-first and was able to deliver
              them in a timely manner.
            </p>
            <p>
              This task largely set the stage for my role in Crystal. Over my years there, I gained a reputation
              as someone with a keen eye for design, and good instinct for predicting user confusion. Because of this,
              I am the default developer for any feature that still needs more refinement and critique during the build process, which
              is a task I really enjoy. There is an excitement when I am working on an idea that is 90% of the way there, but just needs some
              extra editing and shaping to get it into its final form.
            </p>
          </div>
        </div>
      </div>

      <div class="img-wrap">
        <div class="case-image">
          <img src="/images/crystal/2.png" alt="classnav case image">
        </div>
      </div>

      <div class="index-block">
        <div class="text-block">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              Dealing with rapid change
            </h1>
            <p>
              When I first joined Crystal, it was a very unorganized company with lots of ideas being thrown around and no clear hierarchy.
              This produced some exceptional ideas, but many of them were lacking followthrough, because the culture was one that simply went
              after the next shiny idea without much hindsight in the process. This led to code that was often thrown away, or heavily edited
              in a rapid timeline.
            </p>
            <p>
              As the company stabilized and had less inherent chaos, we were still evolving and changing rapidly. We had a great product,
              but didn’t quite have a grasp on our product fit. This meant that we changed business models about every 2-3 months for over two years.
              Needless to say, this taught me how to make code that is exceptionally modular and flexible, so that it could withstand the heavy
              changes of a startup trying to find their market.
            </p>
            <p>
              This also personally taught me to not become emotionally attached to what I had built. As an engineer,
              it is easy to get caught up in the technical achievement of what you have done, but technical achievement
              is moot unless it progresses the product forward.
            </p>
          </div>
        </div>
      </div>

      <div class="img-wrap">
        <div class="case-image">
          <img src="/images/crystal/3.png" alt="classnav case image">
        </div>
      </div>

      <div class="index-block">
        <div class="text-block">
          <div class="small-12">
            <div data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h1>
                What I learned, and what I would do differently.
              </h1>
              <p data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
                If I had to distil the many lessons I took away from this project into just a few, they would be:
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Communication is king."
              </h2>
              <p>
                Whether this is communication between your fellow developers, your employers, or your employers
                developers, communication is the only way the project will be done accurately and on time. It amazes
                me how easily misunderstandings find their way into the heart of a project and take hours to work
                out, but it could all be avoided by a better communication flow.
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Test new frameworks before you use them."
              </h2>
              <p>
                In this project, we used a few new frameworks, ranging from a <a href="http://bourbon.io/">SASS library</a>,
                all the way to using <a href="https://facebook.github.io/react/">React</a> for the first time. Using all
                of these were a good idea, but we should have tested them on a smaller scale to ensure less bugs in our
                final project.
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Choose who you work with carefully."
              </h2>
              <p>
                I have worked on several projects before, but most have fizzled out before finishing due to the lack of
                follow through or funding. This project showed me how powerful a well designed team can be. Everyone knew
                their role and finished it reasonably on time. It is only because of each person's individual dedication
                that this project was ever finished.
              </p>
            </div>
          </div>
        </div>
      </div>

    </main>
    <% include ../partials/absolute-header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</div>
</html>
