<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oops | Austin Ban</title>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block" style="height: 100vh;">
        <div class="text-block">
          <div class="small-12">
            <h1 class="huge">Work Page</h1>
            <!-- <img src="/images/cutoutbw.png" alt="" style="mix-blend-mode:multiply;"> -->
          </div>
        </div>
      </div>

      <div class="down-arrow bounce">
        <a href="#bioSection"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </div>

    </main>
    <% include ../partials/absolute-header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</div>
</html>
