<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Austin Ban | Nashville based web developer, web designer, and storyteller</title>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
  <body class="container">
    <main>
      <a id="awwwards-img" href="http://www.awwwards.com/" alt="Awwwards Site Of The Day Nominee"></a>

      <div id="particles-js"></div>
      <div class="huge-wrap">
        <div class="text">
          <h1 class="huge">I create solutions to people's&nbsp;problems.</h1>
          <p>I'm a web designer, web developer, and&nbsp;storyteller.</p>
          <!-- <p>
            Most of my time is spent in pursuit of beautiful code, good food,
            close friends, storytelling, and finding ways to combine them&nbsp;all.
          </p> -->
      </div>
    </div>
    <div class="down-arrow bounce" style="height: 0;">
      <a href="#workSection"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    </div>
    <!-- <p>Work I've done arrow down</p> -->
      <% include ../partials/profile %>
      <% include ../partials/classnav-block %>
      <% include ../partials/veripharm-block %>
      <% include ../partials/venture360-block %>
      <% include ../partials/details %>
      <% include ../partials/action-block %>
    </main>
    <% include ../partials/absolute-header %>
    <% include ../partials/footer-no-top %>
  </body>
</div>
</html>
