<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
  <main>
    <div id="particles-js"></div>
    <div class="huge-wrap">
      <div class="text">
        <h1 class="huge">I am a designer and developer, finding what I love, and loving what&nbsp;I&nbsp;do.</h1>
        <p>A portfolio by Austin Ban</p>
    </div>
  </div>
  <div class="down-arrow bounce" style="height: 0;">
    <a href="#workSection"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>
  <!-- <p>Work I've done arrow down</p> -->
    <% include ../partials/classnav-block %>
    <% include ../partials/venture360-block %>
    <% include ../partials/glorieta-block %>
    <% include ../partials/profile %>
  </main>
  <% include ../partials/absolute-header %>
  <% include ../partials/footer %>
</body>
</html>
