<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <% include ../partials/absolute-header %>

  <main>
    <div id="particles-js"></div>
    <div class="huge-wrap">
      <div class="text">
        <h1>I am a designer and developer finding what I love and loving what I do.</h1>
        <h2>A portfolio by Austin Ban</h2>
      </div>
    </div>
    <div class="story-section">Test</div>
  </main>

  <% include ../partials/footer %>

  <script src="/javascripts/particles.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>
