<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
  <body class="container">
    <main>
      <div id="particles-js"></div>
      <div class="huge-wrap">
        <div class="text">
          <h1 class="huge">I'm a designer, developer, and storyteller.</h1>
          <p>Making human connections through&nbsp;technology.</p>
      </div>
    </div>
    <div class="down-arrow bounce" style="height: 0;">
      <p>See my work</p>
      <a href="#workSection"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>
    <!-- <p>Work I've done arrow down</p> -->
      <% include ../partials/classnav-block %>
      <% include ../partials/veripharm-block %>
      <% include ../partials/venture360-block %>
      <% include ../partials/profile %>
      <% include ../partials/action-block %>
    </main>
    <% include ../partials/absolute-header %>
    <% include ../partials/footer %>
  </body>
</div>
</html>
