<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Venture360 Case | Austin Ban</title>
  <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block2" style="height: 100vh; text-align: center;">
        <div class="text-block venture-header">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700" >
            <h1 class="huge" style="text-align: center;">Contract development for&nbsp;Venture360.</h1>

          </div>
        </div>
      </div>
      <div class="down-arrow bounce">
        <a href="#next"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </div>

      <div id="next" class="index-block pink">
        <div class="text-block gradient-block2">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h2>
              Working with Venture360 has been the most challenging, but also rewarding experiences
              I have had in my career so far. After being offered the opportunity from my favorite
              teacher, I started work for Venture360 in May of 2016.
            </h2>
          </div>
        </div>
      </div>

      <!-- <div class="index-block venture0-window"> -->
      <div class="img-wrap"><img src="/images/venture-0.png" alt="classnav case image" class="case-image"></div>

      </div>
      <div class="index-block">
        <div class="text-block">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              Oh I've learned a lot.
            </h1>
            <p>
              To begin my work with Venture360, they advised me to start learning Ruby on Rails.
              Before this job, I had never interacted with an Model/View/Controller (MVC) framework,
              which led to long hours spent slaving over tutorials and sample projects. Several months
              later, I can say that I am still learning, but significantly further along than where
              I started.
            </p>
            <p>
              All of my work for Venture360 has been done remotely. There is both tremendous freedom and responsibility in working
              remotely.
            </p>
            <h2>What I use with Venture360</h2>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i> Ruby on Rails</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> HTML5</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> SASS</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Github (Tower® IDE)</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> A collection of Javascript libraries</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="img-wrap"><img src="/images/venture-1.png" alt="classnav case image" class="case-image"></div>

      <div class="index-block">
        <div class="text-block">
          <div class="small-12">
            <div data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h1>
                What I've learned from Venture360
              </h1>
              <p>
                Working with Venture360 has provided me with countless professional lessons. From
                technical skills to the importance of communication, I have grown tremendously.
                If there were a few lessons I had to distill from my time working with these
                incredibly talented people, they would be:
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2>
                "Be aware of what you don't know, and when you don't know, ask."
              </h2>
              <p>
                Dozens of hours of frustration could have been saved by swallowing my pride and just
                asking.
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Documentation and footnotes are gifts you send to your future self."
              </h2>
              <p>
                Suffering from the hubris of my own memory, I have learned that it is much better to
                leave a comment explaining the functionality and interconnected parts of the code snippet.
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Start with the basics, and work your way up."
              </h2>
              <p>
                I made the mistake of brushing over the basics and jumping straight into higher level problems.
                This order of operations led to several issues down the road when the building blocks of Ruby on
                Rails were still fuzzy to me while trying to modify a sizeable block of code.
              </p>
            </div>
          </div>
        </div>
      </div>

    </main>
    <% include ../partials/absolute-header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</div>
</html>
