<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Veripharm Case | Austin Ban</title>
  <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block2" style="height: 100vh; text-align: center;">
        <div class="text-block veripharm-header">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700" >
            <h1 class="huge" style="text-align: center;">A 24 hour UI for&nbsp;Veripharm.</h1>
          </div>
        </div>
      </div>
      <div class="down-arrow bounce">
        <a href="#next"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </div>

      <!-- <div class="index-block veri3-window pink"></div> -->

      <div id="next" class="index-block pink">
        <div class="text-block gradient-block2">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              The planning phase.
            </h1>
            <p>
              After being made aware of the Distributed Health hackathon by a friend, I arrived at the Nashville Entrepreneurship
              Center armed only with my laptop. Though the hackathon was based on blockchain technology, I barely knew what
              blockchaining was. What we created in those 24 hours wound up winning 2 of the 5 prizes awarded at the event,
              including the grand prize.
            </p>
            <p>
              Within a couple of hours, I found a team that needed an interface designer for their idea of creating a
              pharmaceutical tracking app using blockchaining. The team was composed of 2 software designers, a security guru,
              a long-time employee of pharmaceutical companies, and myself.
            </p>
            <p>
              The most difficult part of the build was that we didn't know exactly what we were building. We had an idea of
              the problems faced by the industry and the technology we had at hand, but we didn't know exactly how to solve the
              problem. After several hours of research into the drug supply chain, we targeted specific problem points in
              the supply chain that are susceptible to counterfeiting and foul-play. From this point, we developed what
              interactions would be necessary to track the drugs from raw materials to the hands of the patient. This is where
              the UI started to take shape.
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="index-block veri1-window"></div> -->
      <div class="img-wrap"><img src="/images/veri-1.jpg" alt="classnav case image" class="case-image"></div>

      <div class="index-block">
        <div class="text-block">
          <div class="small-12" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
            <h1>
              Building the UI.
            </h1>
            <p>
              Because of our limited time frame, we decided to build the UI using <a target="_blank" href="https://nodejs.org/en/">node.js</a>,
              a lightweight Javascript runtime build that I had never used before. After the confusion of getting it set up,
              the rest was standard HTML and SASS development.
            </p>
            <h2>Veripharm was built using:</h2>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i> <a target="_blank" href="https://nodejs.org/en/">Node.js</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i> <a target="_blank" href="https://tierion.com/">Tierion</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i> <a target="_blank" href="https://www.mongodb.com/">MongoDB</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i> <a target="_blank" href="https://www.blockchain.com/">Blockchain</a></li>
            </ul>
            <h2>The hardest part of the build.</h2>
            <p>
              We were ambitious in our plans for Veripharm, planning on it being used be every vendor and manufacturer
              at every step in the supply chain, making designing the UI significantly more difficult. Following the
              KISS principle (Keep It Simple, Stupid) became harder and harder as the complexities of the interactions
              needed unfolded. After hours of trying and trying again, we settled on our final design for Veripharm.
            </p>
          </div>
        </div>
      </div>

      <div class="img-wrap"><img src="/images/veri-2.jpg" alt="classnav case image" class="case-image"></div>


      <div class="index-block">
        <div class="text-block">
          <div class="small-12">
            <div data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h1>
                The take away.
              </h1>
              <p>
                I'm not sure if it was sleep exhaustion, malnutrition, or a mix of the two, but when Veripharm was announced
                as the winning project, tears sprung into my eyes. It took a solid 5 seconds for it actually register, giving more
                evidence to the sleep deprivation theory, but the victory felt in that moment has carried me through many long
                nights buried in code. Here are my main takeaways from that experience:
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Measure twice, cut once."
              </h2>
              <p>
                This isn't exactly my quote, but the principle of careful planning before execution was vital to
                finishing this project on time. Consulting with the experts and understanding the necessary functionality
                before I began the project was paramount.
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Do things that scare you."
              </h2>
              <p>
                Again, I'm not the first to say this, but feelings of incompetency nearly kept me from even beginning
                this hackathon. What a mistake it would have been to limit because of my own fears.
              </p>
            </div>
            <div class="quote" data-aos="flip-up" data-aos-once="true" data-aos-duration="700">
              <h2 >
                "Take care of yourself."
              </h2>
              <p>
                These 24 hours took 72 hours to recover from. Pulling crazy stunts like these are occasionally
                necessary, but I would prefer to plan ahead and not have to put myself through such trials.
                Oh, and eat something other than pizza every now and then.
              </p>
            </div>
          </div>
        </div>
      </div>

    </main>
    <% include ../partials/absolute-header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</div>
</html>
