<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
<body class="container">
    <main>
      <div class="gradient-block2">
        <div class="text-block">
          <div class="small-12">
            <h1 class="huge heading-pad" style="text-align: center;">Here are a few jobs I'm proud&nbsp;of.</h1>
            <!-- <img src="/images/cutoutbw.png" alt="" style="mix-blend-mode:multiply;"> -->
          </div>
        </div>
      </div>

      <% include ../partials/classnav-block %>
      <% include ../partials/venture360-block %>
      <% include ../partials/veripharm-block %>

    </main>
    <% include ../partials/absolute-header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</div>
</html>
